{% extends "navigation.html" %}
{% block content%}
  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stocks %}
      <tr>
        <td>
          <a href="{{ url_for('details.stock_detail', StockName=stock.symbol) }}">
            {{stock.symbol}}
          </a>
        </td>
        <td>{{stock.name}}</td>
        <td>{{stock.price}}</td>
        <td>{{stock.change}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
